{% extends "main.layout.html" %}

{% block content_body %}
    <main role="main" class="container">
        <div class="jumbotron">
            <h1>Hello on logs.dankovtsev.pro!</h1>
            <p>Добро пожаловать на замечательный сайт flash-logger-site!</p>
            <p>Этот шаблон <strong>статической панели навигации</strong> создан для наглядного примера. Меню растянуто на всю ширину экрана и прижато к верхней части страницы.</p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <p>Чтобы увидеть разницу между простым, статическим и фиксированным меню, покрутите колесо мышки.</p>
        </div>
    </main>

{% endblock %}
