{% extends "main.layout.html" %}

{% block content_body %}
    <main role="main" class="container">
        <div class="jumbotron">
            <h1>Hello on logs.dankovtsev.pro!</h1>
            <p>Страница логов проекта "{{ project.name }}"</p>
        </div>
    </main>
    <div class="container">
        <div class="list-group">
            {% for message in logs %}
                <a href="#" class="list-group-item active" data-id="{{ message.id }}">
                    <h4 class="list-group-item-heading">Some title (fingerprint)</h4>
                    <p class="list-group-item-text">{{ message.message }}</p>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
